/* para el logo */
.img_brand_alt{
    width: auto !important;
}

/* para la imagenes del menu */
.img_alt{
    width: auto !important;
    height: 15px;
    margin: 0px !important;
    margin-bottom: 2px !important;
}
/* para los dropdown del menu */
.dropdown-alt{
    display: block !important;
    text-align: center !important;
}

/* para el listado */
.h-300{
    height: 300px;
    overflow-y: auto;
}

.text-red{
    color: #db282d;
}